<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inventory">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>inventory</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dm-inventory">
      <ion-icon name="square"></ion-icon>
      <ion-label>dm-inventory</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="create-item">
      <ion-icon name="circle"></ion-icon>
      <ion-label>create-item</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
